{% extends 'base.html.twig' %}
{% block content %}
    <div id="generale">
        <div id="div_aux" class="left">
            <div class="fos_user_user_show">
                <p>{{ prof.username }}</p>
            </div>
        </div>
    </div>
{% endblock %}


