#dashboard {
    width: 68%;
    border: 1px #000 solid;
}
#dashup{
    height: 320px;
}
#dashdown{
    height: 50px;
}
#calendrier {
    width: 28%;
    margin-left: 3%;
    border: 1px #000 solid;
}
#calup{
    height: 320px;
}
#caldown{
    height: 100px;
}
#carregroup{
    float: left;
    width: 100%;
    text-align: center;
}
.carre {
    display: inline-block;
    width:150px;
    height: 150px;
    border: 1px #000 solid;
    margin: 2%;
}
.carre img {width: 65%;margin: 5% 15%;}
.carreup{
    height: 100px;}
.carredown{
    height: 50px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
}

#dashboard{
    border: 1px #000 solid;
}
#dashdown,#calup{
    background-color: rgba(255,255,255,0.6);
}
#caldown{background-color: #398E3B;}
/* Couleurs basses des cubes */
.messdown {background-color:#ffcc00;}
.moduldown {background-color:#681888;}
.elvdown {background-color:#ff751a;}
.notesdown {background-color:#DD3141;}
.clear{clear:both;}
.black{color:black;}

.btn {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
/*
.accueil {background-image: linear-gradient(to top right,#00B9D1,#1D6B83);border-top: #000 1px solid;}
.messagerie{background-image: linear-gradient(to top right,#CC9966,#FFCC00);}
.calendrier{background-image: linear-gradient(to top right,#4BAF50,#398E3B);}
.modules{background-image: linear-gradient(to top right,#9E26B0,#681888);}
.eleve{background-image: linear-gradient(to top right,#FF6666,#EF7D36);}
.notes{background-image: linear-gradient(to top right,#DD3141,#FF6666);}
*/