#generale {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 3%;
}

.titre_principal {
    margin-top: 20px;
    margin-left: 42%;
    margin-right: 42%;
    margin-bottom: 20px;
    text-align: center;
}

.titre_info {
    color : black;
    font-family: 'Raleway', sans-serif;
}

#info_generale{
    margin-left: 5%;
    margin-right: 5%;
}

div#div_aux {
    width: 74%;
    color : dark;
    background-color: #00a4bb;
}

#notes_semestre {
    margin-left: 5% ;
    margin-right: 5%;
}

p {
    margin: 2%;
}


.bouton > a {
    text-decoration:none;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
