#tailleonglets_list_eleve{
    margin:0 auto; padding:0;width:100%; height:100%;
}
#onglets_list_eleve {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    padding: 0;
    margin:0;
    overflow: hidden
}
#onglets_list_eleve > li {
    list-style: none;
    float: left;
    /*margin: 0 0.4em 0 0;*/
    padding:10px;
    color: inherit;
    background-color: inherit;
}
#onglets_list_eleve > li > a:first-child {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    padding: 0;
}
#onglets_list_eleve > li > a:first-child:hover {
    text-decoration: none;
}
#onglets_list_eleve > li > div {

    position: fixed;
    display: block;
    top:13.7em;left: 0;

    margin: 0 0 0 300px ;
    padding: 0;

    height: 100%;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
}
#onglets_list_eleve > li:target > div {
    z-index: 3;
}
#onglets_list_eleve > li:not(:target) {
    opacity: 0.5;
}
#onglets_list_eleve > li:not(:target):hover {
    opacity: 1.0;
}
#onglets_list_eleve > li:not(:target) > div {

}
#onglets_list_eleve > li:not([id]) {
    display: block;
    opacity: 1.0;
}
#onglets_list_eleve > li:not([id]) > div {
    z-index: 2;
}
#onglets_list_eleve li:nth-child(1),#onglets_list_eleve li:nth-child(6)  { background-color: #108DA5; color: white;}
#onglets_list_eleve li:nth-child(2),#onglets_list_eleve li:nth-child(7) { background-color: #E9B62C; color: white;}
#onglets_list_eleve li:nth-child(3),#onglets_list_eleve li:nth-child(8),#onglets_list_eleve li:nth-child(11){ background-color: #419C44; color: white;}
#onglets_list_eleve li:nth-child(4), #onglets_list_eleve li:nth-child(9),#onglets_list_eleve li:nth-child(12) { background-color: #841F9C; color: white;}
#onglets_list_eleve li:nth-child(5), #onglets_list_eleve li:nth-child(10),#onglets_list_eleve li:nth-child(13) { background-color: #F6734A; color: white;}

h1{
    color: #0a0a0a;
    text-align: left;
}

#generale img {
    width: 250px;
    position: relative;
    left: 75%;
}
td:nth-child(1) {
    padding: 15px;
    font-weight: bold;
}