
/*-----------------------------------------*/
#matiere{ 

    border:2px solid black;
    text-align: center;
    background-color: grey;   
}

.bloc{
    display:inline-block;
    width:250px;
    height:230px;
    margin: 2% 0;
}
.classe{
    border:2px outset black;
    background-color:dimgrey;
}  


#hlm{
    background:purple;
    text-align:center;
    color:darkgrey;
}
#lien-avancement{
    color:blue;
    position:relative;
    left:0;
    top:110;
    border:#000 solid 1px;
    left:-3;
    top:px;
}
#pourcent{
    color:red;    
    font-size: 50px;
    position: relative;
    left: px;
    top: 45px;   
}
#moncercle{
    background:#68D7B9;
    border-radius:70%;
    width:140px;
    height:140px;
    border:20px solid #1C1F7F; 
    text-align: center;
}


#menu-tab {
    /*background: white;*/
    font-family: 'trebuchet ms', geneva; 
    font-size: 11pt;
    color:black;
}

#menu-tab a {
    color: grey;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-variant: normal;
}

#menu-tab a:hover{
    color: green;
}

/*--------------Dimensions tableau--------------*/

#page-wrap {
   width: 70%; 
	  margin: 10px auto;
}

/*--------------Onglets--------------*/

.tabs {
    position: relative;
    min-height: 480px; /* This part sucks */
      clear: both;
    margin: 25px 0;
}
.tab {
    float: left;margin-top:-10px;
}
.tab label {
    background: rgba(155, 127, 40, 0.38);
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.71);
}
.tab [type=radio] {
    display: none;   
}

/*--------------Contenu article onglet--------------*/
.content {
    position: absolute;
    background: white;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 0px 10px 10px 10px;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41);
    overflow: hidden;
    overflow-y:auto;
    margin-bottom: -20px;
}
.content > * {

    opacity: 50;
    -webkit-transform: translate3d(0, 0, 0);

    -webkit-transform: translateX(0%);
    -moz-transform:    translateX(0%);
    -ms-transform:     translateX(0%);
    -o-transform:      translateX(0%);

    -webkit-transition: all 3s ease;
    -moz-transition:    all 3s ease;
    -ms-transition:     all 3s ease;
    -o-transition:      all 3s ease;
}

/*-------------Onglets actifs--------------*/

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
    z-index:1;
}
[type=radio]:checked ~ label ~ .content > * {
    opacity: 1;

    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    -o-transform:      translateX(0);
}
@media screen and (max-width:1200px)
{
	[type=radio]:checked ~ label ~ .content {
    z-index:0;
}
}