@import url(https://fonts.googleapis.com/css?family=Raleway); /* Appel de la police Raleway de Google */
* {
    margin:  0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
html,body {
    background: url(https://www.projet.inkweb.fr/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #474847;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#aero {
    background: url(https://www.projet.inkweb.fr/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */;
    height: 40px;
}
aside {
    background-color: #393939;
    width: 300px;
    height: 100%;
    position: fixed;
}
#main {
    background-color:#F7F7F7;
    margin-left: 300px;
    min-height:100%;
}
#user-menu {
    background: url(https://www.projet.inkweb.fr/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */;
    height: 75px;
    margin: auto;
}
nav {
    background-color: #FAFAFA;
    height: 50px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 20px;
}
nav a {
    font-weight: normal;
    text-decoration: none;
}
#logo {
    margin: 20px 25px;
    width: 200px;
}
#logo-bg {
    background-color: #474847;
}
#menu ul li {
    height: 50px;
    padding-left:30px;
    line-height: 50px;
    list-style: none;
}
#menu ul img {
    width: 15px;
    margin-right: 20px;
}
#menu ul a {
    color: #FFFFFF;
    text-decoration: none;
}
.accueil:hover {background-image: linear-gradient(to top right,#00B9D1,#1D6B83);border-top: #000 1px solid;}
.messagerie:hover{background-image: linear-gradient(to top right,#CC9966,#FFCC00);}
.calendrier:hover{background-image: linear-gradient(to top right,#4BAF50,#398E3B);}
.modules:hover{background-image: linear-gradient(to top right,#9E26B0,#681888);}
#login_page,.eleve:hover{background-image: linear-gradient(to top right,#FF6666,#EF7D36);}
.notes:hover{background-image: linear-gradient(to top right,#DD3141,#FF6666);}
#conteneur {
    width: 100%;
    height:100%;
    margin: 15px 0%;
}
#footer-bar{
    height: 1px;
    margin: 10px 0;
    background-color: #000;
}
#footer{
	position:fixed;
	bottom:0;
	left:150px;
    height: 20px;
    width: 100%;
    margin:0;
    text-align: center;
    background-color: #393939;
	z-index: 10;
}
#footer a {
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
}
@media screen and (max-width:1200px)
{
    aside{width: 200px;}
    nav {margin-left: 10px;}
    #logo {width: 150px;margin: 0;}
    #main {margin-left: 200px;}
	#footer{
	position:fixed;
	bottom:0;
	left:100px;
    height: 20px;
    width: 100%;
    margin:0;
    text-align: center;
    background-color: #393939;  }
}

#login_page form {
    border: 1px solid;
    padding: 10px;
    background-color: #ffffff4d;
    text-align: center;
}
#login_page form input{
    margin-top: 5px;
}