/* Barre de recherche*/
#search {
    width: 450px;
}
input[type=search] {
    background: #ededed url(https://www.projet.inkweb.fr/img/search/search-icon.png) no-repeat 98% center;
    border: solid 1px #ccc;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    width: 400px;
    height: 30px;
    margin: 20px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    padding-left: 25px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}
/*input[type=search]:focus {
width: 100%;
background-color: #fff;
border-color: #66CC75;

-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
box-shadow: 0 0 5px rgba(109,207,246,.5);
}*/
::-moz-placeholder {
    color: #999;
    text-align:left;
}
::-webkit-input-placeholder {
    color: #999;
    text-align:left;
}

/* Bloc User */
#user {
    width: 440px;
    float: right;
}
#usr {background-color: #1D6B83;width:366px;height:75px;margin-left: 74px;}
#avatar {
    width: 45px;
    margin: 10px 20px;
    line-height: 75px;
    border-radius: 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
}
#user-name {
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: #ffffff;
}
#grade {
    text-align: center;
    color: skyblue;
    font-weight: bold;
    font-size : 12px;
}
#exit img {
    margin: 12px 10px 12px 60px;
}
#a {
    width:0;height:0;
    border:37px solid;
    border-color:#1D6B83 #1D6B83 transparent transparent;
    float: left;
}
@media screen and (max-width:1200px)
{
	#search {
    width: 200px;
}
input[type=search] {
    background: #ededed url(https://www.projet.inkweb.fr/img/search/search-icon.png) no-repeat 98% center;
    border: solid 1px #ccc;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    width: 300px;
    height: 30px;
    margin: 20px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    padding-left: 25px;
}
    #user {
    width: 440px;
    float: right;
}
#usr {background-color: #1D6B83;width:366px;height:75px;margin-left: 74px;}
#avatar {
    width: 45px;
    margin: 3px 20px;
    line-height: 75px;
    border-radius: 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
}
#user-name {
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: #ffffff;
}
#grade {
    text-align: center;
    color: skyblue;
    font-weight: bold;
    font-size : 12px;
}
#exit img {
    margin: 12px 10px 12px 60px;
}
#a {
    width:0;height:0;
    border:37px solid;
    border-color:#1D6B83 #1D6B83 transparent transparent;
    float: left;
}
}