{% extends 'base.html.twig' %}
{% block content %}
    <div class="table table-striped table-bordered table-hover">
        <table>
            <tr>
                <th colspan="2"><h1>Modules disponibles</h1></th>
            </tr>
            {% if list_module is empty %}
                Vous n'enseignez aucun module pour le moment.
            {% else %}
                {% for module in list_module %}
                    <tr>
                        <td>
                            <a href="{{ path('inkweb_module_view',{'id': module.Id } ) }}"> {{ module.nomMat }}</a><br/>
                        </td>
                        <td>
                            Commence le : {{ module.DateDebut |date('d/m') }}<br/>
                            Termine le : {{ module.DateFin |date('d/m') }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}