{% extends 'base.html.twig' %}
{% block content %}
    <div id="tailleonglets_list_eleve">
        <ul id="onglets_list_eleve">
            <li id="B1"><a href="#B1">Bachelor 1</a>
                <div>
                    <h1>Liste des élèves</h1>
                    {% for eleve in list_eleve %}
                        <a href="{{ path(
                        'eleve_view',{'id' : eleve.Id }
                        )}}">
                            {{ eleve.Nom }} {{ eleve.Prenom }}
                        </a><br />
                    {%  endfor %}
                </div>
            </li>
            <li id="B2"><a href="#B2">Bachelor 2</a>
                <div>
                    <h1>Liste des élèves</h1>
                </div>
            </li>
            <li id="B3"><a href="#B3">Bachelor 3</a>
                <div>
                    <h1>Liste des élèves</h1>
                </div>
            </li>
            <li id="I4"><a href="#I4">Ingénierie 4</a>
                <div>
                    <h1>Liste des élèves</h1>
                </div>
            </li>
            <li id="I5"><a href="#I5">Ingénierie 5</a>
                <div>
                    <h1>Liste des élèves</h1>
                </div>
            </li>
            <li>
                <div><p>Séléctionnez la classe de votre choix</p></div></li>
        </ul>
    </div>
{% endblock %}
